* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 250px;
    background-color: #1F2937;
    color: #FFF;
}

.logo h1 {
    font-size: 24px;
    font-weight: 900;
}

.nav-tabs ul {
    display: flex;
    gap: 20px;
}

.nav-tabs ul li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.hero {
    background-color: #1F2937;
    padding: 48px 250px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

