* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12.5%;
    background-color: #1F2937;
    color: #FFF;
}

.logo h1 {
    font-size: 24px;
    font-weight: 900;
}

.nav-tabs ul {
    display: flex;
    gap: 20px;
}

.nav-tabs ul li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.hero {
    background-color: #1F2937;
    padding: 100px 12.5%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-description {
    font-size: 18px;
    font-weight: 400;
}

.sign-up_btn {
    align-self: flex-start;
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #3882F6;
    border-radius: 5px;
    cursor: pointer;
    animation: all 0.5s ease-in-out;
}

.sign-up_btn:hover {
    background-color: #FFF;
    color: #1F2937;
    box-shadow: rgba(0, 0, 0, 0.25);
}

.right-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    width: 600px;
    height: 250px;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 150px;
    gap: 30px;
}

.random-info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-info_containers {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12.5%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 5px;
}

.info-container_box {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.info-container_text {
    text-align: center;
    color: #1F2937;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.quote p span {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
}